<!-- 1. création du body que je vais importer dans le main.js client -->

<body>
    <div class="container">
        <header>
            <h1>Todo List</h1>
            <form class="new-task">
                <input type="text" name="text" placeholder="Saisir une nouvelle tâche" />
            </form>
        </header>
        <ul>
            {{#each tasks}}
            {{> task}}
            {{/each}}
        </ul>
    </div>
</body>

<!-- Cette partie est remplacée par le fichier ui/task.html -->
<!-- <template name="task">
    <li>{{text}}</li>
</template> -->