<template name="task">
    <li class="{{#if checked}}checked{{/if}}">
        <button class="delete">&times;</button>

        <!-- ici on utilise aussi la classe checked pour modifier le css au moment où la classe est selectionnée -->
        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
        <span class="text">{{text}}</span>
    </li>
</template>